<!DOCTYPE html>
<html lang="tr">

<%- include("templates/_header") %>

<body>

  <!-- ======= Navbar ======= -->
  <%- include("templates/_navbar") %>
  <!-- End Navbar -->

  <!-- ======= Sidebar ======= -->
  <%- include("templates/_sidebar") %>
  <!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1><%= user.firstName %> <%= user.lastName %> Profil</h1>
    </div><!-- End Page Title -->

    <section class="section profile">
      <%- include("templates/_alert") %>
      <div class="row">
        <div class="col-xl-4">

          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
              <h2><%= user.firstName %> <%= user.lastName %></h2>
              <h3>
                <% if (user.role === 'admin') { %>
                  Yönetici
                <% } else if(user.role === 'user') { %>
                  Kullanıcı
                <% } else if(user.role === 'guest') { %>
                  Misafir
                <% } else { %>
                  Bilinmeyen
                <% } %>
              </h3>
            </div>
          </div>

        </div>

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Profili Düzenle</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Şifre Değiştir</button>
                </li>

              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-edit pt-3" id="profile-edit">

                  <!-- Profile Edit Form -->
                  <form>

                    <div class="row mb-3">
                      <label for="firstName" class="col-md-4 col-lg-3 col-form-label">İsim</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="firstName" type="text" class="form-control" id="firstName" value="<%= user.firstName %>" disabled>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="lastName" class="col-md-4 col-lg-3 col-form-label">Soyisim</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="lastName" type="text" class="form-control" id="lastName" value="<%= user.lastName %>" disabled>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Email" class="col-md-4 col-lg-3 col-form-label">Eposta</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="email" type="email" class="form-control" id="Email" value="<%= user.email %>" disabled>
                      </div>
                    </div>

                    <div class="text-center">
                      <button class="btn btn-primary" disabled>Güncelle</button>
                    </div>
                  </form><!-- End Profile Edit Form -->

                </div>

                <div class="tab-pane fade pt-3" id="profile-change-password">
                  <!-- Change Password Form -->
                  <form class="changePasswordForm" action="/admin/users/change-password/<%= user._id %>?_method=PUT" method="post">

                  
                    <div class="row mb-3">
                      <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">Yeni Şifre</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="newpassword" type="password" class="form-control" minlength="6" id="newPassword">
                      </div>
                    </div>
                  
                    <div class="row mb-3">
                      <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Tekrar Yeni Şifre</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="renewpassword" type="password" class="form-control" minlength="6" id="renewPassword">
                      </div>
                    </div>
                  
                    <input type="hidden" name="password" id="newDbPassword">
                  
                    <div class="text-center">
                      <button type="submit" class="btn btn-primary" id="changePasswordButton">Şifre Değiştir</button>
                    </div>
                  </form><!-- End Change Password Form -->
                  
                  <!-- End Change Password Form -->

                </div>

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <%- include("templates/_footer") %>
  <!-- End Footer -->

  <%- include("templates/_scroll") %>

  <%- include("templates/_script") %>


  <script>
    $(document).ready(function() {
      $('.changePasswordForm').submit(function(event) {
        event.preventDefault(); // Formun varsayılan gönderim işlemini durdur
  
        var newPassword = $('#newPassword').val();
        var renewPassword = $('#renewPassword').val();
  
        if (newPassword !== renewPassword) {
          alert('Yeni şifreler aynı değil. Lütfen tekrar kontrol edin.');
        } else {
          $('#newDbPassword').val(newPassword);
  
          // Form verilerini oluştur
          var formData = $(this).serialize();
  
          // Formu AJAX ile gönder
          $.ajax({
            type: 'POST',
            url: $(this).attr('action'),
            data: formData,
            success: function(response) {
              alert('Şifreniz güncellendi.');
              window.location.href = '/admin';
            },
            error: function(xhr, status, error) {
              alert('Bir hata oluştu. Lütfen tekrar deneyin.');
            }
          });
        }
      });
    });
  </script>

  

</body>

</html>